-i https://pypi.org/simple/
asgiref==3.3.0
cffi==1.14.3
cryptography==3.2
dj-database-url==0.5.0
django-cors-headers==3.2.1
django-heroku==0.3.1
django-phone-field==1.8.0
django-rest-knox==4.1.0
django==3.0.3
djangorestframework==3.11.0
gunicorn==20.0.4
psycopg2==2.8.6
pycparser==2.20
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
whitenoise==5.2.0
