
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.nav-link:hover {
  color: '#000'
}

.editButton {
  background-color: "green";
}